// src/styles.scss

// You can import bootstrap SCSS files if you want to customize Bootstrap variables
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #f8f9fa;
}

h2 {
  color:  #f8f9fa;;
}

button {
  margin: 10px;
}


